/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #007bff, #00aaff); /* Blue gradient background */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header .logo {
    max-width: 150px;
    height: auto;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    margin: 100px auto;
    text-align: center;
}

.form-container h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.form-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #007bff;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.Crudbutton {
    background-color: #edfa03;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.Aboutbutton {
    color: white;
    border: none;
    padding: 16px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.footer {
    text-align: center;
    margin-top: auto;
    padding: 20px;
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
}